version: '3'

services:
  db:
    image: kartoza/postgis:9.6-2.4
    environment:
      POSTGRES_USER: user001
      POSTGRES_PASS: 123456789
      POSTGRES_DBNAME: gis
    ports:
      - "5432:5432"
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/eventsapp
    ports:
      - "8000:8000"
    depends_on:
      - db
